body {
    background: url("../images/west.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: "Oxygen", sans-serif;
}

#header,
.card-header {
    font-family: 'Rye', serif;
    text-transform: uppercase;
    text-align: center;
  }

.jumbotron {
    color: white;
    text-shadow: 0px 2px 10px rgba(0,0,0,0.8);
    background-color: transparent;
  }

.jumbotron h1 {
    font-size: 90px;
}

.card {
    background-color: rgba(255,255,255,0.95);
}